/*Scale*/
div:hover .scale1 {
  transform: scale(0.5);
}

div:hover .scale2 {
  transform: scaleX(0.5);
}

div:hover .scale3 {
  transform: scaleY(1.5);
}

/*Rotate*/
div:hover .rotate1 {
  transform: rotate(45deg);
}

div:hover .rotate2 {
  transform: rotate(-45deg);
  transform-origin: top left;
}

/*Translate*/
div:hover .translate1 {
  transform: translate(10%, 5%);
}

div:hover .translate2 {
  transform: translateX(-20px);
}

div:hover .translate3 {
  transform: translateY(3em);
}

/*Skew*/
div:hover .skew1 {
  transform: skewY(-20deg);
}

div:hover .skew2 {
  transform: skewY(20deg) scaleX(0.8);
  transform-origin: top left;
}

/* DEMO */

body {
  margin-top: 100px;
  background: #fefde9;
}

section {
  text-align: center;
  margin-bottom: 50px;
}

div {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 2em;
}

div span {
  display: inline-block;
  width: 200px;
  height: 200px;
  transition: 0.05s all ease-in-out; /*For demo purposes only*/
}

section :last-child {
  margin-right: 0;
}

section:first-of-type div span {
  background: #00a0b0;
}

section:nth-of-type(2) div span {
  background: #cc333f;
}

section:nth-of-type(3) div span {
  background: #eb6841;
}

section:nth-of-type(4) div span {
  background: #edc951;
}
