/*Button*/

.button a {
  display: inline-block;
  padding: 0.5em 3em;
  font: bold 2em/1 copperplate, serif;
  color: #3194c6;
  text-decoration: none;
  text-shadow: 0 1px 1px #fff;
  background: #fff linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  border-radius: 50px;
  border: 1px solid #fff;
  box-shadow: 0 0 10px 1px #3194c6;
  transition: 0.5s all ease-in;
}

.button a:hover {
  box-shadow: 0 0 25px 5px #3194c6;
}

/*Text shadow*/

.threede span {
  text-align: center;
  font-family: "league gothic", sans-serif;
  font-size: 150px;
  color: #fff;
  transition: 0.5s all ease-in-out;
}

.threede span:hover {
  margin-left: -5px;
  margin-top: -5px;
  text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #c9c9c9, 3px 3px 0 #bbb,
    4px 4px 0 #b9b9b9, 5px 5px 0 #aaa, 6px 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.3),
    3px 3px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25),
    10px 10px 10px rgba(0, 0, 0, 0.2), 20px 20px 20px rgba(0, 0, 0, 0.15);
}

.threede {
  background-color: #0d8ab8;
}

/*Image*/

.image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s left cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.image:hover img {
  left: 300px;
}

.image {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto 50px;
  border: 5px solid rgba(0, 0, 0, 0.3);
}

.image figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 220px;
  display: block;
  background: #222;
  color: rgba(255, 255, 255, 0.8);
  font: 2em/1 "gill sans", sans-serif;
  padding-top: 180px;
  z-index: -1;
}

/* DEMO */

body {
  margin: 50px 0 0;
  background: #fefde9;
  text-align: center;
}

div {
  width: 100%;
  margin-bottom: 50px;
}
